<div class="home-content row">
  <div class="top-text">
    <div class="col-lg-4">
        <h1>Improving your organization's communication is as easy as 1-2-3</h1>
      <div class="buttons">
        <%= link_to "Sign up", new_user_registration_path, class: "btn home-button-left" %>
       <a href="#more" class="smoothscroll"><button class="home-button-right">Learn more</button></a>
      </div>
</div>
  <div class="col-md-8">
    <div class="top-content">
   
    <h2>Step 1 ==> Create an account</h2>

      <p>Provide an email address and password to create an account for the BOLD Projects Database. You will not receive any email or any other unwanted communication when you create this account.</p>

    <h2>Step 2 ==> Submit a new project proposal</h2>

      <p>If you have a project idea that you think would be perfect for a technical communication course, complete the proposal form. Previous BOLD projects have included website redesigns, comprehensive edits of organizational documents, and marketing research reports.</p>

    <h2>Step 3 ==> Connect with an instructor</h2>
        <p>If your proposal is suitable for one of our courses, someone will approve and match your project to a particular course. Then, you'll be able to connect with an instructor to work out the major details of the project.</p>
    
      </div>
    </div>
  </div>
</div>
<div class="home-bottom">
  <div class="what-is-bold">

<div class="row">
  <div class="col-md-4">
    <div class="what-is-left">
      <h2 class="left"><a name="more"></a>What is { BOLD } ?</h2>
</div>
</div>
      <div class="col-md-4">

  <h3>{ BOLD } stands for...</h3>
   <p>Business Opportunity and Leadership Development (BOLD). It's a partnership program created to provide opportunities to connect industry with academia.</p>
    </div>
    <div class="col-md-4">
   <h3>{ BOLD } is...</h3>
   <p>for businesses and non-profit organizations that have a need for short to medium-length projects that involve technical communication. Previous projects have included work on: 
    <ul>
      <li>Website design and development</li>
      <li>Comprehensive and copyediting</li>
      <li>Manuals and procedures</li>
      <li>Marketing materials</li>
      <li>Visual and information design</li>
      <li>Feasability, recommendation, and other research reports</li>
    </ul>
  </div>
 </div>
</div>
<div class="three-columns">
  <div class="row">
  <h2>Why be a { BOLD } partner?</h2>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag 'code.fw.png' %>
      <div class="caption">
        <h3>{ BOLD } facilitates long-lasting partnerships</h3>

        <p>Previous long-term partnerships have been forged between the University of North Texas' Department of Technical Communication and companies like Sabre International, Southwest Airlines, and National Instruments.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag 'people.fw.png' %>
      <div class="caption">
        <h3>{ BOLD } allows you to support students while supporting your business</h3>
        <p>Allowing students to work on real-world projects not only exposes them to essential experience, it provides real benefits to your business.</p>
  
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag 'documents.fw.png' %>
      <div class="caption">
        <h3>{ BOLD } partnerships provide quality Technical communication</h3>
        <p>Previous client projects have added value to many organizations. Previous projects have included editing, graphic design, marketing, technical documentation, and more.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>