<div class="hero">
<div class="home-content row">
  <div class="top-text">
    <div class="col-md-4">
        <h1>Connecting organizations with technical communication class projects in 3 simple steps</h1>
      <div class="buttons">
        <%= link_to "Sign up", new_user_registration_path, class: "btn home-button-left" %>
       <a href="#more" class="smoothscroll"><button class="home-button-right">Learn more</button></a>
      </div>
</div>
  <div class="col-md-8">
    <div class="top-content">
   
    <h2><span class="number">1</span>Create an account</h2>

      <p>Sign up for the BOLD Projects Database. You will not receive any email or any other unwanted communication when you create this account.</p>

    <h2><span class="number">2</span>Submit a new project proposal</h2>

      <p>Previous BOLD projects have included website redesigns, comprehensive edits of organizational documents, and marketing research reports.</p>

   <h2> <span class="number">3</span>Connect with an instructor</h2>
        <p>Once an instructor claims your proposal, they will contact you to work out the details! You and the instructor will work together to accomplish your organization's communication goals.</p>
    
      </div>
    </div>
  </div>
</div>
</div><!--hero -->
<div class="home-bottom">
  <a name="more"></a>
  <div class="what-is-bold">

<div class="row">
  <!--<div class="col-md-4">
    <div class="what-is-left">
      <h2 class="left"><a name="more"></a>What is { BOLD } ?</h2>
</div>
</div>-->  
 <h2>What is <span style="color:#6C9396">{ BOLD }</span> ?</h2>
      <div class="col-md-6">

  <h3><span style="color:#6C9396">{ BOLD } </span>stands for...</h3>
   <p>Business Opportunity and Leadership Development (BOLD). It's a partnership program created by University of North Texas' Department of Technical Communication. BOLD provides opportunities to connect industry with academia by integrating relevant client projects into our undergraduate and graduate coursework.</p>
   <br>
   <p>While BOLD projects officially launched in the Spring of 2015, collaborative projects between our department and organizations around DFW have been happening for over a decade.</p>


    </div>


    <div class="col-md-6">
   <h3><span style="color:#6C9396">{ BOLD } </span>is...</h3>
   <p>for businesses and non-profit organizations that have a need for short to medium-length projects that involve technical communication. Previous projects have included work on: 
    <ul>
      <li>Website design and development</li>
      <li>Comprehensive and copyediting</li>
      <li>Manuals and procedures</li>
      <li>Marketing materials</li>
      <li>Visual and information design</li>
      <li>Feasability, recommendation, and other research reports</li>
    </ul>
  </div>
</div>
 </div>
<div class="mission">

 <div class="row">
  <h2>Our <span style="color:#6C9396">{ BOLD }</span> Mission</h2>
<div class="col-md-4">
  <div class="column">
  <h3>We seek to be { RELEVANT }</h3>
    <p>The department of Technical Communication seeks to make our undergraduate and graduate degree programs relevant by providing our students with cutting-edge, real-world client projects. </p>
  </div>
</div>
  <div class="col-md-4">
<div class="column">
    <h3>We seek to be { HIGH-TECH }</h3>
    <p>Dallas/Ft.Worth is one of the fastest growing urban areas in the United States. As such, we seek to forge meaningful and lasting relationships with the ever-growing tech organizations around the metroplex.</p>
  </div>
</div>
  <div class="col-md-4">
<div class="column">
    <h3>We value { SERVICE } learning</h3>
    <p>Our students have worked with non-profit organizations like Habitat for Humanity and the city of McKinney to provide technical and professional communication.</p>
  </div>
    </div>
  </div>
</div>


<div class="three-columns">
  <div class="row">
    <h2>Why be <span style="color:#6C9396">{ BOLD }</span> ?</h2>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag 'code.fw.png' %>
      <div class="caption">
        <h3><span style="color:#6C9396">{ BOLD } </span>facilitates long-lasting partnerships</h3>

        <p>Previous long-term partnerships have been forged between the University of North Texas' Department of Technical Communication and companies like Sabre International, Southwest Airlines, and National Instruments.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag 'people.fw.png' %>
      <div class="caption">
        <h3><span style="color:#6C9396">{ BOLD } </span>allows you to support students while supporting your business</h3>
        <p>Allowing students to work on real-world projects not only exposes them to essential experience, it provides real benefits to your business.</p>
  
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag 'documents.fw.png' %>
      <div class="caption">
        <h3><span style="color:#6C9396">{ BOLD } </span>partnerships provide quality Technical communication</h3>
        <p>Previous client projects have added value to many organizations. Previous projects have included editing, graphic design, marketing, technical documentation, and more.</p>
      </div>
    </div>
  </div>
</div>

</div>
</div>
