
<div class ="col-md-12">
	<h1>How does this process work?</h1>
	<p>This system was designed to match potential client projects with instructors of technical communication. The entire process is completed in three simple steps:
		<ol>
			<li>A proposal is submitted that outlines a project that is suitable for an undergraduate technical communication course. This proposal can be submitted by a client or an instructor.</li>
			<li>The proposal is reviewed by the director of undergraduate studies. The director will provide feedback and match the project to a specific course and instructor.</li>
			<li>The instructor of record will contact the client to work out details of the project.</li>
		</ol>
	</div>
<div class ="col-md-6">
<h1>Are you a BOLD instructor? </h1>
	<p>This proposal system allows you to accomplish two major tasks:</p>
	<ol>
		<li>View pending and accepted proposals created by clients to determine if your course might be a good venue for the project.</li>
		<li>Create a project proposal if you already have a client project.</li>
	</ol>
	 <ul>
    <li class="home-button"><%= link_to"View Proposals", proposals_path, class: "btn btn-default btn-md" %></li>
    <li class="home-button"><%= link_to"Create a new Proposal", new_proposal_path, class: "btn btn-default btn-md" %></li>
  </ul>
</div>
<div class ="col-md-6">

<h1>Are you a BOLD client?</h1>
	<p>This proposal system allows you to accomplish two major tasks:</p>
	<ol>
		<li>View pending and accepted proposals created by clients to determine if your project might be a good fit for a class project.</li>
		<li>Create a proposal to be matched with a potential technical communication course.</li>
	</ol>
	 <ul>
    <li class="home-button"><%= link_to"View Proposals", proposals_path, class: "btn btn-default btn-md" %></li>
    <li class="home-button"><%= link_to"Create a new Proposal", new_proposal_path, class: "btn btn-default btn-md" %></li>
  </ul>
</div>


