<div class ="col-md-8">
<h1>New proposal</h1>
<p><strong>NOTE:</strong> This form is intended to be completed by clients. However, instructors may also complete this form if they already have an existing client project.</p>
<br>
<%= render 'form' %>

<%= link_to 'Back', dashboard_path %>
</div>
