/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container-fluid {
	padding:0;
}
.table-responsive {
    overflow-x: auto;
}
.show h2 {
	background-color: gray;
	padding: 10px;
	color: white;

}
.navbar {
	font-family: raleway;
	font-size: 16px;

}
.navbar a {
	color: white;
}
.col-lg-12 {

	font-family: Open Sans;
	min-height: 700px;

}
.navbar-brand {
	font-size: 28px;
	font-family: Raleway;
	}

.panel-footer {
    clear:both;
    bottom: 0;
    width: 100%;
	min-height: 200px;
	color: white;
	font-family: open sans;
	background: #383634;
}
.heading-banner {
	background: white;
	text-align: center;
	border-bottom: dotted #383634 2px;
	margin-top: 50px;

	}
.banner-content {
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 60px;
	margin-top: 60px;
	
}
li.home-button {

	display:inline;
	text-decoration: none;
	margin-right: 20px;
}
.thumbnail{
	text-align: center;
	background-color:white;
	border: none;
	width: 100%;
}
.column-content {
		background-color:white;
		margin-top: 60px;
		color: #6C7A89;

}
p.thumbnail, h3.thumbnail {
	color: white;
}
p.admin-welcome {
	color:white;
	text-align: left;
	margin-left: 15px;
	margin-top: 15px;
	font-style: italic;
	font-size: 14px;
	
}
.navbar-collapse {
	text-align: left;
}

td.title {
	text-align: left;
	width: 30%;
	font-weight: bold;
}
.form-signin {
	max-width:380px;
	margin-right:auto;
	margin-left:auto;
	background-color: #fff;
  	border: 1px solid rgba(0,0,0,0.1);  
 	padding: 15px 35px 45px;
 	margin: 0 auto;
}
.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}
	.form-signin h2{
		margin-bottom: 20px;
	}
	.form-signin p {
		margin-top: 20px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}


.proposal-form {
	max-width: 700px;
	margin-left:auto;
	margin-right: auto;
	background-color: #fff;
  	border: 1px solid rgba(0,0,0,0.1);  
 	padding: 15px 35px 45px;
 	margin: 0 auto;
}