/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container-fluid {
	padding: 0;

}
.col-lg-12 {
	
	min-height:600px;
	font-family: open sans;
	margin-top: -20px;

}

.navbar-brand {
	font-size: 24px;
	text-transform:uppercase;
	font-family: open sans;
}
.panel-footer {
	width: 100%;
	clear: both;
	min-height: 200px;
	color: white;
	font-family: open sans;
	background: #22313F;
}
.heading-banner {
	background: #5C97BF;
	padding-top: 100px;
	color: white;
	text-align: center;
	height:400px;
	}
li.home-button {

	display:inline;
	text-decoration: none;
	margin-right: 20px;
}
.thumbnail{
	text-align: center;
	background-color:#5C97BF;
	border: none;
	width: 100%;
}
.column-content {
		background-color:#5C97BF;
		padding: 20px;

}
p.thumbnail, h3.thumbnail {
	color: white;
}
