/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p, h1, h2, h3, h4 {
	color: #4C4C4D;

}
.home {
	margin-bottom: 30px;
	background-color:#383634 ;
	padding: 0;
}
.container-fluid {
	padding:0;
}
.table-responsive {
    overflow-x: auto;
}
.show h2 {
	background-color: #79797D;
	padding: 10px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	font-family: raleway;

}
.navbar {
	font-family: raleway;
	font-size: 17px;

}
.navbar a {
	color: white;
}
.col-lg-12 {

	font-family: open sans;
	min-height: 700px;

}
.brand {
	padding: 15px;
}
.brand a,.brand a:hover {
	font-size: 38px;
	font-family: cabin sketch;
	color: white;
	text-decoration: none;
	text-align:left;
	text-transform: uppercase;
	}
.brand p {
	font-size: 16px;
	font-family: raleway;
	color: #D8EBED;
	text-transform: none;
}


	
.panel-footer {
    clear:both;
    bottom: 0;
    width: 100%;
	min-height: 200px;
	font-family: open sans;
	background: #383634;
}
.panel-footer p {
	color: #B4B7B8;

}


li.home-button {

	display:inline;
	text-decoration: none;
	margin-right: 20px;
}
.thumbnail{
	text-align: center;
	background-color:white;
	border: none;
	width: 100%;
}
.column-content {
		background-color:white;
		margin-top: 60px;
		color: #6C7A89;

}
p.thumbnail, h3.thumbnail {
	color: white;
}
p.admin-welcome {
	color:#D8EBED;
	text-align: left;
	margin-left: 15px;
	margin-top: 15px;
	font-style: italic;
	font-size: 14px;
	
}
.navbar-collapse {
	text-align: left;
}

td.title {
	text-align: left;
	width: 30%;
	font-weight: bold;
}
.form-signin {
	max-width:380px;
	margin-right:auto;
	margin-left:auto;
	background-color: #fff;
  	border: 1px solid rgba(0,0,0,0.1);  
 	padding: 15px 35px 45px;
 	margin: 0 auto;
}
.form-signin-home {
	background-color: #fff;
  	border: 1px solid rgba(0,0,0,0.1);  
 	padding: 15px 35px 45px;
 	margin: 0 auto;
}
.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	
		
	}
	.form-signin h2{
		margin-bottom: 20px;
	}
	.form-signin p {
		margin-top: 20px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}


.proposal-form {
	max-width: 700px;
	margin-left:auto;
	margin-right: auto;
	background-color: #fff;
  	border: 1px solid rgba(0,0,0,0.1);  
 	padding: 15px 35px 45px;
 	margin: 0 auto;
}
.home-content {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ecf0f1;
	padding: 20px;
	margin-top: -20px;
	padding-bottom: 100px;
}
.home-content h1 {
	font-family: raleway;
	font-size: 24px;
}
.home-content h2 {
	font-family: cabin sketch;
	font-size: 24px;
	text-decoration: bold;
	text-transform: uppercase;
}
.home-bottom {
	border-top: 1px solid #ecf0f1;
	
}
.home-bottom h2 {
	font-family: raleway;
	font-size: 32px;
	text-decoration: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;

}